.clearfix:after {
    content: '';
    clear: both;
    display: table;
}

.about {
    float: left;
    h1 {
        text-align: center;
    }
}

.front-hero {
    float: right;
    img {
        width: 70%;
        float: right;
    }
}