.clearfix:after {
    content: '';
    clear: both;
    display: table;
}

.front-page {
    .about {
        $h1-shadow: 0px 6px 6px #6f7070;
        $p-font: 'Josefin Sans', sans-serif;
        @include white-cards($p-font, $h1-shadow, 1%);
    }
    .col-lg-7 {
        @media screen and (min-width: 1200px) {
            padding-right: 0;
        }
    }
    .front-hero {
        float: right;
        width: 100%;
        img {
            width: 100%;
            text-align: right;
            -webkit-filter: hue-rotate(129deg);
            filter: hue-rotate(129deg);
        }
    }
}