.clearfix:after {
    content: '';
    clear: both;
    display: table;
}

.about {
    // float: left;
    // max-width: 50%;
    // margin: 4%;
    h1 {
        text-align: center;
    }
}

.front-hero {
    float: right;
    img {
        width: 100%;
        height: 100%;
        text-align: center;
    }
}