@mixin white-cards($p-font, $h1-shadow) {
    padding: 2%;
    margin-top: 1%;
    margin-bottom: 3%;
    -webkit-box-shadow: -1px 16px 25px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 16px 25px 5px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 16px 25px 5px rgba(0, 0, 0, 0.75);
    h1 {
        text-align: center;
        text-shadow: $h1-shadow;
    }
    p {
        font-family: $p-font;
        font-size: large;
    }
}