$small: 387px;
@media screen and (max-width: $small) {
    nav {
        li {
            display: block;
        }
    }
}

nav {
    .container {
        width: 100%;
        padding: 0;
        margin: 0;
        background-color: $dark-blue;
    }
    ul {
        margin-bottom: 0;
    }
    .nav-links {
        li {
            margin-right: 2px;
            line-height: 1.428571429;
            position: relative;
            display: inline-block;
            padding: 10px 15px 15px 15px;
            @media screen and (max-width: $small) {
                display: none;
            }
            a {
                color: white;
                &:hover {
                    text-decoration: none;
                    font-weight: 700;
                }
            }
        }
    }
    .menu {
        float: right;
        display: none;
        @media screen and (max-width: $small) {
            display: inline-block;
            margin: 0 3% 1% 0;
        }
        .bar {
            width: 35px;
            height: 5px;
            background-color: black;
            margin: 6px 0;
        }
    }
}

.navbar {
    border-radius: 0px;
}


/* The side navigation menu */

.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
    @media screen and (max-height: 450px) {
        padding-top: 15px;
    }
    .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
    a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
        @media screen and (max-height: 450px) {
            font-size: 18px;
        }
        &:hover {
            color: #f1f1f1;
        }
    }
}

.offcanvas {
    a {
        &:focus {
            color: #f1f1f1;
        }
    }
}

li.active {
    text-decoration: none;
    border-bottom: 3px solid white;
    border-radius: 4px 4px 0 0;
    font-weight: 700;
    a {
        &:hover {
            font-weight: 700;
        }
    }
}

#main {
    width: 100%;
}