#blog{
    .button-group.filter-button-group{
        margin: 2% 20%;
    }
    .grid{
        margin: 2% 20%;
    }
    .grid-item{
        margin-right: 4%;
        margin-top: 4%;
    }
    .card {
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        margin-right: 4%;
        // height: 22.5em;
        &:hover{
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }
        img{
            height: 12em;
        }
    }

    /* Add some padding inside the card container */
    .container {
        padding: 2px 16px;
    }
}