$image-height: 1034px;
$stacked-height: 950px;
.projects {
    img {
        width: 100%;
        @media screen and (min-width: $stacked-height) and (max-width: $image-height) {
            height: 100%;
        }
    }
    .flex {
        display: flex;
        @media screen and (max-width: $stacked-height) {
            flex-wrap: wrap;
            &:nth-child(odd) {
                flex-direction: column-reverse;
            }
        }
    }
    .description {
        padding: 3%;
        flex-grow: 1;
        width: 100%;
        @media screen and (max-width: $stacked-height) {
            text-align: justify;
            h3,
            h4 {
                text-align: center;
            }
        }
    }
    .project-image {
        flex-basis: 70%;
        flex-shrink: 0;
        @media screen and (max-width: $stacked-height) {
            flex-basis: 100%;
        }
    }
}