.social-links {
    background-color: $light-blue;
    img {
        width: 40%;
        &:hover {
            transform: scale(1.5);
        }
    }
    .col-xs-4 {
        text-align: center;
    }
    .logos {
        margin: 3% 5%;
    }
}

.footer {
    background-color: $dark-blue;
    p {
        font-size: smaller;
        overflow: auto;
    }
}

#email {
    float: right;
    width: 100%;
}