@media screen and (max-width: 334px) {
  nav li {
    display: block; } }

nav .container {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #028cd5; }

nav ul {
  margin-bottom: 0; }

nav .nav-links li {
  margin-right: 2px;
  line-height: 1.428571429;
  position: relative;
  display: inline-block;
  padding: 10px 15px 15px 15px; }
  @media screen and (max-width: 334px) {
    nav .nav-links li {
      display: none; } }
  nav .nav-links li a {
    color: white; }
    nav .nav-links li a:hover {
      text-decoration: none;
      font-weight: 700; }

nav .menu {
  float: right;
  display: none; }
  @media screen and (max-width: 334px) {
    nav .menu {
      display: inline-block;
      margin: 0 3% 1% 0; } }
  nav .menu .bar {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0; }

.navbar {
  border-radius: 0px; }

/* The side navigation menu */
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */ }
  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px; } }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px; }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s; }
    @media screen and (max-height: 450px) {
      .sidenav a {
        font-size: 18px; } }
    .sidenav a:hover {
      color: #f1f1f1; }

.offcanvas a:focus {
  color: #f1f1f1; }

li.active {
  text-decoration: none;
  border-bottom: 3px solid white;
  border-radius: 4px 4px 0 0;
  font-weight: 700; }
  li.active a:hover {
    font-weight: 700; }

#main {
  width: 100%; }

.social-links {
  background-color: #0aa1da; }
  .social-links img {
    width: 25%; }
    .social-links img:hover {
      transform: scale(1.5); }
    @media screen and (max-width: 500px) {
      .social-links img {
        width: 40%; } }
  .social-links .col-xs-4 {
    text-align: center; }
  .social-links .logos {
    margin: 3% 5%; }

.footer {
  background-color: #028cd5; }
  .footer .row {
    margin-top: 2%;
    text-align: center; }
  .footer p {
    font-size: smaller;
    overflow: auto;
    color: white;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy; }

#email {
  float: right;
  width: 100%; }

.container {
  width: 100%; }

#hero {
  background-color: #0aa1da;
  z-index: 1;
  text-align: center;
  max-height: 50%; }
  #hero .container {
    width: 100%; }
  #hero img {
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 0px solid #000000; }
  @media screen and (max-width: 400px) {
    #hero .col-xs-7 {
      width: 100%; }
    #hero .col-xs-5 {
      width: 100%; } }

.clearfix:after {
  content: '';
  clear: both;
  display: table; }

#description {
  -webkit-box-shadow: inset 0px 9px 7px 0px rgba(57, 65, 69, 0.81);
  -moz-box-shadow: inset 0px 9px 7px 0px rgba(57, 65, 69, 0.81);
  box-shadow: inset 0px 9px 7px 0px rgba(57, 65, 69, 0.81);
  background-color: #5b666c;
  z-index: -1; }
  #description section .gradient {
    padding: 2%; }
    #description section .gradient p {
      margin-bottom: 0;
      color: white;
      text-align: center;
      font-size: 1.2em; }

.cv {
  display: inline-flex; }
  .cv #aside {
    float: left; }
  .cv #work {
    float: right;
    -webkit-box-shadow: inset 9px 0px 11px -5px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: inset 9px 0px 11px -5px rgba(0, 0, 0, 0.23);
    box-shadow: inset 9px 0px 11px -5px rgba(0, 0, 0, 0.23); }
