.container {
    width: 100%;
}

#hero {
    background-color: $light-blue;
    // z-index: 1;
    text-align: center;
    // width: 100%;
    max-height: 50%;
    .container {
        width: 100%;
    }
    h1,
    h2 {
        color: white;
    }
    img {
        border-radius: 200px 200px 200px 200px;
        -moz-border-radius: 200px 200px 200px 200px;
        -webkit-border-radius: 200px 200px 200px 200px;
        border: 0px solid #000000;
    }
    @media screen and (max-width: 400px) {
        .col-xs-7 {
            width: 100%;
        }
        .col-xs-5 {
            width: 100%;
        }
    }
}

.clearfix:after {
    content: '';
    clear: both;
    display: table;
}

#description {
    -webkit-box-shadow: inset 0px 9px 7px 0px rgba(57, 65, 69, 0.81);
    -moz-box-shadow: inset 0px 9px 7px 0px rgba(57, 65, 69, 0.81);
    box-shadow: inset 0px 9px 7px 0px rgba(57, 65, 69, 0.81);
    background-color: #5b666c;
    // z-index: -1;
    section {
        .gradient {
            padding: 2%;
            p {
                margin-bottom: 0;
                color: white;
                text-align: center;
                font-size: 1.2em;
            }
        }
    }
}

.cv {
    display: flex;
    width: 100%;
    @media screen and (max-width: 610px) {
        display: block;
    }
    h3 {
        color: $dark-blue;
    }
    #aside {
        float: left;
        width: 45%;
        @media screen and (max-width: 1024px) {
            width: 100%;
        }
        @media screen and (max-width:610px) {
            float: none;
        }
        .container {
            width: 90%;
            margin-left: 2%;
            margin-right: 0;
        }
        .container.info {
            .row {
                border-bottom: 1px solid #cac0c0;
                width: 95%;
                h5 {
                    padding-left: 1%;
                }
                h4 {
                    font-size: 14px;
                    font-weight: bold;
                }
            }
        }
        .software {
            p {
                font-weight: bold;
            }
            progress {
                width: 100%;
            }
        }
    }
    #work {
        float: right;
        width: 100%;
        -webkit-box-shadow: inset 9px 0px 11px -5px rgba(0, 0, 0, 0.23);
        -moz-box-shadow: inset 9px 0px 11px -5px rgba(0, 0, 0, 0.23);
        box-shadow: inset 9px 0px 11px -5px rgba(0, 0, 0, 0.23);
    }
}