 $grey-border: 1px solid #cac0c0;
 $t-padding: 0;
 .container {
     width: 100%;
 }
 
 #hero {
     background-color: $light-blue;
     // z-index: 1;
     text-align: center;
     // width: 100%;
     max-height: 50%;
     .container {
         width: 100%;
         .row {
             margin: 3% 2%;
             .col-xs-7{
                 margin-top: 2%;
                 @media screen and (min-width: 1025px){
                     margin-top: 4%;
                 }
             }
         }
     }
     h1,
     h2 {
         color: white;
     }
     img {
         border-radius: 200px 200px 200px 200px;
         -moz-border-radius: 200px 200px 200px 200px;
         -webkit-border-radius: 200px 200px 200px 200px;
         border: 0px solid #000000;
         width: 50%;
     }
     @media screen and (max-width: 750px) {
         .col-xs-7 {
             width: 100%;
         }
         .col-xs-5 {
             width: 100%;
             img{
                 width: 40%;
             }
         }
     }
 }
 
 #description {
     -webkit-box-shadow: inset 0px 9px 7px 0px rgba(57, 65, 69, 0.81);
     -moz-box-shadow: inset 0px 9px 7px 0px rgba(57, 65, 69, 0.81);
     box-shadow: inset 0px 9px 7px 0px rgba(57, 65, 69, 0.81);
     background-color: #5b666c;
     // z-index: -1;
     section {
         .gradient {
             padding: 2%;
             p {
                 margin-bottom: 0;
                 color: white;
                 text-align: center;
                 font-size: 1.2em;
             }
         }
     }
 }
 
 .cv {
     display: flex;
     width: 100%;
     @media screen and (max-width: 610px) {
         display: block;
     }
     h3 {
         color: $dark-blue;
     }
     #aside {
         float: left;
         width: 45%;
         @media screen and (max-width: 1024px) {
             width: 100%;
         }
         @media screen and (max-width:610px) {
             float: none;
         }
         .container {
             width: 90%;
             margin-left: 2%;
             margin-right: 0;
         }
         .container.info {
             .row {
                 border-bottom: $grey-border;
                 width: 95%;
                 h5 {
                     padding-left: 1%;
                 }
                 h4 {
                     font-size: 14px;
                     font-weight: bold;
                 }
             }
         }
         .software {
             p {
                 font-weight: bold;
             }
             progress {
                 width: 100%;
             }
         }
         .hobbies {
             .row {
                 margin: 4%;
             }
             i {
                 border: 1px solid #a2cced;
                 border-radius: 30%;
                 font-size: 45px;
                 padding: 10%;
                 color: white;
                 background-color: #a2cced;
                 -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.23);
                 -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.23);
                 box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.23);
                 @media screen and (max-width: 320px) {
                     font-size: 35px;
                 }
             }
             h4 {
                 font-size: small;
             }
         }
     }
     #work {
         float: right;
         width: 100%;
         -webkit-box-shadow: inset 9px 0px 11px -5px rgba(0, 0, 0, 0.23);
         -moz-box-shadow: inset 9px 0px 11px -5px rgba(0, 0, 0, 0.23);
         box-shadow: inset 9px 0px 11px -5px rgba(0, 0, 0, 0.23);
         @media screen and (max-width: 610px) {
             -webkit-box-shadow: inset 0px 9px 26px -10px rgba(0, 0, 0, 0.65);
             -moz-box-shadow: inset 0px 9px 26px -10px rgba(0, 0, 0, 0.65);
             box-shadow: inset 0px 9px 26px -10px rgba(0, 0, 0, 0.65);
         }
         .timeline#job {
             @include timeline($t-padding, 15px, 24px, 96%);
         }
         .timeline#edu {
             @include timeline($t-padding, 15px, 24px, 88%);
         }
         .circle {
             display: inline-block;
             margin: 2%;
             .circles-text {
                 h4 {
                     font-family: sans-serif;
                     margin-top: 2.5em;
                 }
             }
         }
     }
 }